.l-grid {
  display: grid;

  @include media(0, $max-sm) {
    grid-template-columns: 2rem 1fr 2rem;
  }

  @include media($min-md, $max-md) {
    grid-template-columns: 8rem 1fr 8rem;
  }

  @include media($min-lg) {
    grid-template-columns: 1fr 600px 1fr;
  }
}

.banner,
.track,
.access,
.workflow,
.sponsors,
.clipboard {
  grid-column: 2 / span 1;
}

.footer {
  grid-column: 3 span;
}

.track,
.access,
.workflow,
.sponsors {
  @include media($min-md) {
    grid-column: span 3;
  }
}
