.workflow {
  padding-bottom: 4rem;
  text-align: center;

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 5.5rem;
  }

  &__description-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__description {
    width: 350px;
    margin-bottom: 4rem;
  }

  &__description-logo {
    margin-bottom: 2.5rem;
  }

  &__description-title {
    margin-bottom: 1rem;
  }
}
