%btn {
  color: #fff;
  text-align: center;
  font-weight: 600;
  display: block;
  border-radius: 3rem;
  padding: 0.7rem 1.8rem;
}

%btn:hover {
  opacity: 0.8;
}

.btn--primary {
  @extend %btn;
  background-color: $strong-cyan;
  border-bottom: 3px solid hsl(171, 66%, 30%);
}

.btn--secundary {
  @extend %btn;
  background-color: $light-blue;
  border-bottom: 3px solid hsl(233, 100%, 65%);
}
